body
  background: AntiqueWhite
  padding-bottom: 120px

section
  background: BurlyWood
  position: relative

a:hover
  text-decoration: none

button, button:focus, .btn:focus
  outline: none
  box-shadow: none

h1, h2, h3, h4
  font-weight: 600
  text-transform: uppercase
  color: Peru

p, ul, ol, a

span.white
  color: AntiqueWhite

@media only screen and (max-width: $MINImax)
  section
