.header
  position: relative
  background-color: Peru

  .header-logo-link svg
    position: relative
    height: 84px
    width: 84px
    z-index: 15
    path
      fill: AntiqueWhite

  .header-links
    position: absolute
    z-index: 12
    right: 10px
    bottom: 16px

.header-interceptor
  position: absolute
  top: 0
  width: 100%

  .header-title
    position: relative
    width: 50%
    left: 50%
    margin-top: 52px
    margin-left: 64px
    color: AntiqueWhite
  .add-link
    position: absolute
    right: 10px
    top: 46px

@media only screen and (max-width: $MINImax)
  .header
    .header-logo-link svg
      height: 44px
      width: 44px

  .header-interceptor
    .header-title
      left: 0
      padding-top: 22px
      padding-left: 8px
      margin-top: 0
      margin-left: 48px
      font-size: 24px
    .add-link
      right: 26px
      top: 36px
