.help
  background-color: $light
  display: none
.show-help .help
  display: block

.with-help-icon
  position: relative
  .icon
    position: absolute
    left: 4px
    top: 2px
    height: 20px
    width: 20px
    path
      fill: $primary

.quasi-modal
  .help
    margin: 8px 0
    small
      display: block
    span.white
      font-weight: 600
      color: $primary

@media only screen and (max-width: $MINImax)
  .help
