.list-section
  padding-top: 12px
  .add-link
    position: absolute
    right: 0
    top: -38px

  ul
    list-style-type: none
    padding-left: 0
    li
      margin: 4px 0
      padding: 2px 8px
  .boardlist
    li
      background-color: darken(BurlyWood, 10%)
  .listlist
    li
      background-color: BurlyWood
  .tasklist
