#header-logo
  path
    transition: fill .8s ease, transform .8s ease
    transform-origin: center
    fill: $light
    &.r3
      fill: lighten($light, 10%)
    &.r2
      fill: $light
    &.r1
      fill: darken($light, 10%)

a:hover #header-logo
  path.r1
    fill: lighten($light, 10%)
    transform: rotate(90deg)
  path.r3
    fill: darken($light, 10%)
