- if @board
  .header-interceptor
    .container
      %h1.header-title.mountain
        = @board.title
      = link_to '+', new_list_path(board: @board.id), class: 'header-link add-link', remote: true
  = render partial: 'boards/show'

- else
  .header-interceptor
    .container
      %h1.header-title.mountain
        Welcome
      = link_to '+', new_board_path, class: 'header-link add-link', remote: true
  %section.container
    .row
      .col-12
        .help-section.text-center
          %small no boards? ... start by creating one
        .help-section.text-center
          %small the red "+" on top will do that only once. it will create lists on your future boards. find your boards in your user section
