body
  background: $brown-d

section
  background: $brown
  border-radius: 15px
  margin-top: 10px
  margin-bottom: 10px

h1, h2, h3, h4
  font-family: 'Righteous', sans-serif
  color: $turq-d
  text-transform: uppercase

p, ul, ol
  font-family: 'Merriweather', serif
  font-weight: 300
  color: $white

ul
  list-style-type: circle

a
  font-family: 'Merriweather', serif
  font-weight: 700
  color: $yellow-d
  &:hover
    text-decoration: none
    color: $yellow

.container
  overflow: hidden

a.add-link
  text-align: center
  float: right
  height: 24px
  width: 24px
  border-radius: 15px
  background-color: $yellow-d
  color: $purple-l
  font-size: 24px
  line-height: 26px
  margin-top: 12px
  transition: background-color .4s ease
  &:hover
    color: $purple
    background-color: $yellow
