body
  background: $brown-d

section
  position: relative
  background: $brown
  border-radius: 15px
  margin-top: 10px
  margin-bottom: 10px
  padding-top: 15px
  padding-bottom: 15px
  border: 3px solid lighten($brown, 5%)
  overflow: hidden

h1, h2, h3, h4
  font-family: 'Righteous', sans-serif
  color: $turq-d
  text-transform: uppercase

p, ul, ol
  font-family: 'Merriweather', serif
  font-weight: 300
  color: $white

ul
  list-style-type: circle

a
  font-family: 'Merriweather', serif
  font-weight: 700
  color: $yellow-d
  transition: color .4s ease, background-color .4s ease
  &:hover
    text-decoration: none
    color: $yellow

span.white
  color: $white
  font-weight: 700

a.add-link
  position: absolute
  top: 6px
  right: 6px
  text-align: center
  height: 24px
  width: 24px
  border-radius: 15px
  background-color: $yellow-d
  color: $purple-l
  font-size: 24px
  line-height: 22px
  transition: transform .4s ease
  z-index: 3
  &:hover
    color: $purple
    background-color: $yellow
    transform: rotate(90deg)
  &.new-link
    right: 42px
    color: $yellow-d
    background-color: $purple
    &:hover
      color: $yellow
      background-color: $purple-l


a.header-link
  position: absolute
  color: $purple
  font-size: 16px
  line-height: 24px
  &:hover
    color: $yellow
  &.logout
    top: 100px
  &.help-tgl
    top: 76px
    &.off
      text-decoration: line-through

ul.tasklist
  margin-bottom: 0
  padding-left: 0
  li
    font-size: 18px
    list-style-type: none
    background-color: $brown-d
    border: 2px solid $brown-d
    border-radius: 5px
    margin-bottom: 10px
    padding: 0 8px
    &:last-child
      margin-bottom: 0
    &.tomorrow
      opacity: .5
    &.prio-1
      border: 2px solid $yellow
    &.prio-2
      border: 2px solid $orange
    &.prio-3
      border: 2px solid $red

.linklist
  text-align: right
  height: 100%
  padding-top: 30px
  padding-left: 15px
  margin-right: -9px
  .alink
    display: inline-block
    position: relative
    background-color: $purple
    border-radius: 5px
    padding: 4px 10px
    margin-bottom: 5px
    &:hover
      background-color: $purple-l

form
  input[type="submit"]
    color: $turq
    border: 3px solid lighten($brown, 5%)
    border-radius: 10px
    font-weight: bold
    font-family: 'Righteous', sans-serif
    background-color: $brown-d
    padding: 5px 25px
    transition: background-color .4s ease
    &:hover
      background-color: $purple
  input
    border: none
    border-bottom: 3px solid lighten($brown, 5%)
    background-color: $purple
    font-family: 'Merriweather', serif
    color: $white
    font-size: 22px
    caret-color: $turq
    padding: 3px 8px 0
    &:focus
      outline-width: 0
