.header
  position: relative
  // background-color: $purple-l
  // border-bottom: $stroke solid $red-d
  padding: 20px 0
  margin-bottom: 30px

  img, svg
    height: 84px
    width: 84px
    z-index: 15
    position: relative

  #header-logo
    path
      // fill: $white
      transition: fill .8s ease, transform .8s ease
      transform-origin: center
      // &.r3
      //   fill: $yellow
      // &.r2
      //   fill: $orange
      // &.r1
      //   fill: $red

  // a:hover #header-logo
  //   path.r1
  //     fill: $yellow
  //     transform: rotate(90deg)
  //   path.r3
  //     fill: $red

  .header-links
    position: absolute
    right: 0
    bottom: 0
    padding-right: 10px
    a.header-link
      z-index: 8
      display: inline-block
      position: relative
      border-radius: 10px
      padding: 0 20px
      background-image: asset-url('icons/chain-dark.svg')
      background-size: contain
      // background-color: lighten($purple-l, 5%)
      background-position: center
      background-repeat: no-repeat
      height: 28px
      width: 28px
      // &:hover
      //   background-color: lighten($purple-l, 10%)
      &.help-tgl
        z-index: 12
        background-image: asset-url('icons/help-bright.svg')
        background-size: 65%
        &.off
          background-image: asset-url('icons/help-dark.svg')

.header-interceptor
  position: absolute
  top: 0
  width: 100%

  .header-title
    width: 50%
    position: relative
    left: 50%
    margin-top: 52px
    margin-left: 64px
  .header-link
    position: absolute
    top: 62px
    right: 9px
    // background-color: $red-d

@media only screen and (max-width: $MINImax)
  .header
    padding: 10px 0
    img, svg
      height: 44px
      width: 44px
      margin-left: 10px
    .header-links
      bottom: 16px

  .header-interceptor
    .header-title
      left: 0
      padding-top: 22px
      padding-left: 0
      margin-top: 0
      margin-left: 48px
      font-size: 24px
    .header-link
      top: 55px
      right: 7px
