.help
  display: none
.show-help .help
  display: block
.help-quasimodal
  color: lighten($purple-l, 40%)
  padding: 2px 5px 3px 35px
  &::before
    content: ''
    display: block
    height: 20px
    width: 20px
    background-image: asset-url('icons/059-idea.svg')
    background-size: contain
    position: absolute
    left: 5px
    bottom: 5px
