h1, h2, h3, h4
  &.flashy
    display: inline-block
    padding-left: 45px
    padding-right: 40px
    margin-top: 24px
    margin-bottom: 4px
    overflow: hidden
    position: relative
    &:before
      content: ''
      display: inline-block
      position: absolute
      border: $stroke solid transparent
      background-color: $orange-d
      border-left-color: $yellow-d
      border-right-color: $red-d
      width: $stroke * 3
      height: 100px
      top: -50%
      left: 10px
      transform: rotate(23deg)

h1.header-title
  // &::after
  //   content: ''
  //   display: block
  //   height: 120px
  //   width: 120px
  //   background-size: contain
  //   position: absolute
  //   right: 0
  // &.mountain::after
  //   background-image: asset-url('icons/069-mountains.svg')
  //   bottom: -20px

@media only screen and (max-width: $MOBILEmax)
  h1.header-title
    &::after
      display: none
