$('#list-<%= @lnk.list_id %> .linklist').append('<a href="<%= @lnk.href %>" target="_blank" class="alink"><%= @lnk.text %></a>')

$('.quasi-modal').removeClass('active')
$('.quasi-modal .content').html("")
