%select{ name: 'pref_theme', id: 'pref-theme'}
  %option{ value: 'raw', selected: current_user.theme == 'raw' } Raw
  %option{ value: 'groovy', selected: current_user.theme == 'groovy' } Groovy
  %option{ value: 'bubblegum', selected: current_user.theme == 'bubblegum' } BubbleGum
