%select{ name: 'pref_theme', id: 'pref-theme'}
  %option{ value: 'groovy', selected: current_user.theme_class == 'groovy' } Groovy
  %option{ value: 'bubblegum', selected: current_user.theme_class == 'bubblegum' } BubbleGum
